[push]
	default = current
[branch]
	autosetuprebase = always
	autosetupmerge = true
[user]
	name = Andrew Vida
	email = andrewjvida@gmail.com
[core]
	editor = mvim -f
	excludesfile = /Users/andrewvida/.gitignore_global
	mergetool = opendiff
[heroku]
	account = personal
[merge]
	tool = opendiff
[diff]
	renames = true
[help]
	autocorrect = 1
[alias]
	hist  = log --pretty=format:\"%Cred%h%Creset %ad | %s%d %C(bold blue)[%an]%Creset %Cgreen(%cr)%Creset\" --graph --date=short
